@import url("https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
@import url("breadcrumb.css");
@import url("bootstrap-material-design.css");
@import url("bootstrap-material-design.min.css");
@import url("mdb.css");
@import url("mdb.min.css");
@import url("mdb.lite.css");
@import url("mdb.lite.min.css");
@import url("../../pulses/css/pulse.css");
@import url("../../pulses/css/annotations.css");
@import url("../../machines/css/machine.css");
@import url("../../pids/css/pid.css");
@import url("../../users/css/user.css");
@import url("../../users/css/login.css");
@import url("../../users/css/profile.css");

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
    font-size: 87.5%;
    line-height: 1.5;
    min-height: 100vh;
    color: #222;
}

abbr {
    cursor: help;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #0071b3;
}

a:hover, a:visited {
    text-decoration: underline;
}

a:visited {
    color: #0071b3;
}

h1, h2, h3 {
    font-weight: 400;
    line-height: 1;
}

.page-link {
    color: royalblue !important;
}

.href-link {
    color: royalblue !important;
}

header {
    padding: 1.5vh 1.75vw 0 1.75vw;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    align-items: flex-end;
    background-size: 100%;
    font-weight: normal;
    background-color: #292929;
    color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.81);
    height: 70px;
}

header a:hover {
    text-decoration-color: #fff;
    -webkit-text-decoration-color: #fff;
    -moz-text-decoration-color: #fff;
}

header h1 a:visited, header h3 a:visited {
    color: #fff;
}

header h1 a, header h3 a {
    color: #fff;
}

header h1 {
    font-size: 1.821em;
}

button, input[type=submit], input[type=button] {
    color: #000;
}

#site-name {
    flex: 1 0;
    margin: 0;
}

main {
    margin: 1.5em 1.6vw 2em 1.6vw;
    flex: 4 0 auto;
}

main h1 {
    line-height: 1;
}

main h2 {
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 0.3em;
}

.no-wrap {
    white-space: pre;
}

table {
    border: 0;
    border-spacing: 0;
}

#pulse-info {
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
}

#pulse-info > .tab-nav {
    flex: 1 0 100%;
}

.pulse-table, .session-table {
    margin: 0;
    width: 100%;
}

.pulse-table tbody tr td:first-of-type {
    font-weight: bold;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    color: #fff;
}

tr td, tr th {
    padding: 4px 9px;
    border: 1px solid #fff;
    text-align: left;
}

/*tr:nth-of-type(even)*/
/*tr:nth-of-type(odd)*/
.group-odd {
    background: rgba(0, 0, 0, 0.063);
    /*background: grey;*/
}

.group-even {
    background: rgba(0, 0, 0, 0.106);
    /*background: antiquewhite;*/
}

thead tr th {
    background-color: rgba(0, 0, 0, 0.51);
}

.table-paging, .pulse-nav, .session-nav {
    text-align: center;
    margin: 0.2em 0;
}

.table-paging a, .table-paging .current-page,
.pulse-nav a, .pulse-nav span, .session-nav a, .session-nav span {
    margin: 0 0.5em;
}

.tab-nav {
    border-bottom: 1px solid #bbb;
}

.tab-nav a {
    color: #222;
    font-size: 0.929em;
    background-color: #eee;
    border: 1px solid #bbb;
    border-bottom: none;
    display: inline-block;
    padding: 4px 10px 6px 10px;
    border-radius: 6px 6px 0 0;
    text-decoration: none;
}

span.error {
    font-size: 1.5em;
    padding: 1.2em 0.8em;
    margin: 0.2em 0 0 0;
    color: #856404;
    background-color: #ffeeba;
    border-left: 3px solid #856404;
}

#primary-nav {
    margin-top: 1.5em;
    border: none;
    flex: 1 0 100%;
}

#primary-nav a {
    border: none;
    background-color: rgba(255, 255, 255, 0.85);
}

#primary-nav a:hover, .tab-nav a:hover {
    background-color: #fff;
}

#primary-nav a.active, .tab-nav a.active {
    background-color: #fff;
}

#primary-nav a.disabled {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

#search-container {
    display: flex;
}

#search-results {
    flex: 1 0;
    float: right;
    margin-left: 15px;
}

#search-results > p {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

#search-results > table {
    flex: 1;
    width: 100%;
}

.expandable-row > td:first-child {
    cursor: pointer;
}

.expandable-row > td:first-child:hover {
    color: #666;
}

.expandable-row > td:first-child:before {
    content: '\002b';
    float: left;
    margin-right: 0.5em;
}

.expandable-row.active > td:first-child:before {
    content: "\2212";
}

#filter-form {
    float: left;
}

#search-filters {
    flex: 0 0;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

#search-filters > h3 {
    margin: 0.5em 0;
    border-bottom: 1px solid #aaa;
}

#search-filters > .filter-field:first-child {
    margin-top: 0;
}

#search-filters input[type=submit], input[type=button] {
    margin: 0;
}

.pulse-detail-row {
    display: none;
    transition: display 0.2s ease-in;
}

.pulse-detail-row > td {
    border-bottom: 2px solid #999;
}

.pulse-detail-row > td > p {
    margin: 0;
}

dl {
    display: flex;
}

#expand-all, #collapse-all {
    padding: 0.5em;
    margin-left: 1em;
    border-radius: 5px;
    border: none;
    background-color: #0071b3;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
}

#pulse-display {
    margin: 1em 0;
    flex: 1 1 60vw;
    display: flex;
    flex-wrap: wrap;
}

#pulse-display > div.tab-nav {
    flex: 1 0 100%;
}

#pulse-plots {
    flex: 0 0 30%;
    margin: 0 1em 1em 0;
    -webkit-box-shadow: inset 0 0 0 5px #bbb;
    -moz-box-shadow: inset 0 0 0 5px #bbb;
    box-shadow: inset 0 0 0 5px #bbb;
    border-collapse: separate;
}

.first-group-row td {
    border-top: 2px solid #999;
}

.block {
    display: block;
}

.overview {
    display: flex;
    flex-wrap: wrap;
}

.pulse-overview {
    display: grid;
    grid-template-rows:min-content min-content min-content;
    grid-template-columns:5fr 2fr 2fr;
    grid-gap: 0.8em;
    width: 100%;
}

.pulse-brief-info {
    display: flex;
    flex-direction: column;
}

.pulse-brief-info a {
    align-self: flex-start;
}

.pulse-session-summary {
    display: flex;
    float: left;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
}

.pulse-numerics {
    float: right;
    grid-area: 2 / 1 / 3 / 4;
}

.pulse-summary table {
    min-width: 100%;
}

.pulse-overview-plots {
    grid-area: 3 / 1 / 4 / 4;
    display: block;
    max-width: 100%;
    height: auto;
}

.pulse-overview-plots img {
    max-width: 100%;
    height: auto;
}

.noscript-holder {
    position: relative;
}

.noscript {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

/*input[type=submit] {*/
/*    border: 1px solid #0071b3;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    background-color: #0071b3;*/
/*}*/

/*input[type=button] {*/
/*    border: 1px solid #0071b3;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    background-color: #0071b3;*/
/*}*/

footer {
    background-color: #292929;
    color: rgba(255, 255, 255, 0.65);
    padding: 4em 1.5vw 2.5em 1.5vw;
    flex: 0 0 auto;
}

footer a {
    color: rgba(255, 255, 255, 0.8)
}

#top-search {
    width: 150px;
}

.btn-rounded {
    border-radius: 10em;
}

#search-top-btn {
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
}

label, input {
    display: block;
}

label {
    margin-top: 20px;
}

.pulse-head-table {
    background-color: #0f0f0f !important;
    color: white !important;
}

#menu {
    font-family: Montserrat, sans-serif;
    background: #212529 url("../images/banner2.jpg") no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
}

#profile-menu {
    float: right;
    margin-right: 5px !important;
}

.search-top {
    float: right;
}