{% if pid_list %}
    <table class="table">
        <thead class="black white-text">
        <tr>
            <th class="pulse-head-table" scope="col"></th>
            <th class="pulse-head-table" scope="col">PID Number</th>
            <th class="pulse-head-table" scope="col">Issuer</th>
            <th class="pulse-head-table" scope="col">Page URL</th>
            <th class="pulse-head-table" scope="col">Pulses</th>
        </tr>
        </thead>
        <tbody>
        {% cycle 'group-odd' 'group-even' as groupclass silent %}
        {% for pid in pid_list %}
            <tr class="expandable-row {{ groupclass }}">
                <td></td>
                <td>{{ pid.pid_number }}</td>
                <td>{{ pid.issuer }}</td>
                <td>{{ pid.page_url|default:"&mdash;" }}</td>
                {% if pid.pulses != "----" %}
                    <td><a class="href-link" href="{% url 'pulses-list' %}?pid_id={{ pid.pid_number }}">{{ pid.pulses }}</a></td>
                {% else%}
                    <td>{{ pid.pulses}}</td>
                {% endif %}
            </tr>
            <tr class="pulse-detail-row {{ groupclass }}">
                <td colspan="8">
                    <p>{{ pid.description|default:"&mdash;"|safe }}</p>
                </td>
            </tr>
            {% cycle groupclass %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if previous %}
            <li class="page-item"><a class="page-link" href="{{ first_page }}">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href={{ previous }}>&lsaquo; Previous</a></li>
        {% endif %}
        {% if next %}
            <li class="page-item"><a class="page-link" href={{ next }}>Next &rsaquo;</a></li>
            <li class="page-item"><a class="page-link" href="{{ last_page }}">Last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
