{% extends "main/base_login.html" %}
{% load static %}

{% block content %}
    <div class="login-title">
        <h2>Login Here</h2>
    </div>

    <div id="login-container" class="container">
        <form action="{% url 'login' %}" method="post" accept-charset="UTF-8" id="login-form">
            {% csrf_token %}
            <div id="login-fields">
                {% for field in login_form %}
                    <div class="login-field">{{ field.label_tag }}{{ field }}</div>
                {% endfor %}
                <button id="login-btn" type="submit" class="btn blue-gradient btn-rounded waves-effect waves-light">
                    Login
                </button>
            </div>
        </form>
    </div>
    <h6 id="register" style="text-align:center;"> Don't have an account yet? <a href="{% url 'register' %}">Register
        here!</a></h6>
    <div id="login-error" class="alert alert-danger" role="alert" style="display: none"></div>
    <script type="text/javascript">
        var fail_txt = "{{ fail|safe }}"
        if (fail_txt != null && fail_txt !== undefined && fail_txt !== "") {
            document.getElementById('login-error').style.display = "block";
            document.getElementById('login-error').innerHTML = fail_txt;
        }
    </script>
{% endblock %}