{% extends "main/base.html" %}
{% load static %}
{% block scripts %}
    <script src="{% static 'users/js/tabs.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="profile-main">
        <div class="profile-header">
            <div class="user-detail">
                <div class="user-image">
                    <img src="{% static 'main/images/user-img.jpg' %}" alt="Profile picture">
                </div>
                <div class="user-data">
                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                    {% if user.is_superuser %}
                        <span class="post-label">Admin</span>
                    {% else %}
                        <span class="post-label">User</span>
                    {% endif %}
                </div>
            </div>
            <div class="tab-panel-main">
                <ul class="tabs">
                    <li id="basic-tab" class="tab-link current" data-tab="Basic-detail">Basic Detail</li>
                    <li id="annotation-tab" class="tab-link" data-tab="Portfolio">Annotations</li>
                </ul>
                <div id="Basic-detail" class="tab-content current">
                    <div class="card-group">
                        <div class="card mb-4" style="float: left">
                            <div class="card-header">
                                <h5><i class="fa fa-address-card card-title" aria-hidden="true"></i>Details</h5>
                            </div>
                            <div class="card-body overflow-auto">
                                <div class="pulse-details user-details">
                                    <dl>
                                        <dt class="card-text" style="font-weight: bold">Username</dt>
                                        <dd class="card-text">{{ user.username }}</dd>
                                        <dt class="card-text" style="font-weight: bold">Email</dt>
                                        <dd class="card-text">{{ user.email }}</dd>
                                        <dt class="card-text" style="font-weight: bold">Active</dt>
                                        <dd class="card-text">{{ user.is_active }}</dd>
                                        <dt class="card-text" style="font-weight: bold">Date Joined</dt>
                                        <dd class="card-text">{{ user.date_joined }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        {% if profile_form %}
                            <div class="card mb-4" style="float: right">
                                <div class="card-header">
                                    <h5><i class="fa fa-user-md card-title" aria-hidden="true"></i>Edit profile</h5>
                                </div>
                                <div class="card-body overflow-auto">
                                    <form method="post" accept-charset="UTF-8" id="profile-form">
                                        {% csrf_token %}
                                        <div id="profile-fields">
                                            {% for field in profile_form %}
                                                <div class="profile-field">{{ field.label_tag }}{{ field }}</div>
                                            {% endfor %}
                                            <button id="edit-profile-btn" type="submit"
                                                    class="btn btn-mdb-color waves-effect waves-light">
                                                Edit Profile
                                            </button>
                                            <div id="error" class="alert alert-danger" role="alert"
                                                 style="display: none"></div>
                                            <script>
                                                document.getElementById("edit-profile-btn").addEventListener("click", function () {
                                                    let first_name = document.getElementById("id_first_name").value;
                                                    let last_name = document.getElementById("id_last_name").value;
                                                    let email = document.getElementById("id_email").value;
                                                    {#var current_password = document.getElementById("id_current_password").value;#}
                                                    {#var password = document.getElementById("id_password").value;#}
                                                    {#var repeat_password = document.getElementById("id_repeat_password").value;#}
                                                    let username = "{{username|safe}}";
                                                    let user_id = "{{ user_id|safe }}";
                                                    let url = "/api/users/edit/"
                                                    let data = {
                                                        "access_token": "{{ access_token|safe }}",
                                                        "first_name": first_name,
                                                        "last_name": last_name,
                                                        "username": username,
                                                        "user_id": user_id,
                                                        "email": email
                                                        {#"current_password": current_password,#}
                                                        {#"password": password,#}
                                                        {#"repeat_password": repeat_password#}
                                                    }
                                                    $.post(url, data, function () {
                                                        location.href = "/ui/" + username + "/profile"
                                                    }).fail(function (jqXHR, textStatus, errorThrown) {
                                                        console.log("Status: " + textStatus + " error: " + errorThrown);
                                                        document.getElementById('error').style.display = "block";
                                                        document.getElementById('error').innerHTML = "Status: " +
                                                            textStatus + " error: " + errorThrown;
                                                    });
                                                });
                                            </script>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="Portfolio" class="tab-content">
                <div class="card mb-4">
                    <div class="card-header">
                        <h2><i class="fa fa-comment card-title" aria-hidden="true"></i> Recent Annotations</h2>
                    </div>
                    <div class="card-body portfolio-img-box">
                        {% for annotation in annotations %}
                            <p class="card-text"><a href="{% url 'pulse-details' annotation.pulse.id %}">
                                <b>Shot {{ annotation.pulse.shot }} - Number {{ annotation.pulse.number }}:</b></a>
                                {{ annotation.text }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
{% endblock %}