{% if user_list %}
    <table class="table">
        <thead class="black white-text">
        <tr>
            <th class="pulse-head-table" scope="col">A/A</th>
            <th class="pulse-head-table" scope="col">Username</th>
            <th class="pulse-head-table" scope="col">First Name</th>
            <th class="pulse-head-table" scope="col">Last Name</th>
            <th class="pulse-head-table" scope="col">Email</th>
            <th class="pulse-head-table" scope="col">Active</th>
            <th class="pulse-head-table" scope="col">Role</th>
            <th class="pulse-head-table" scope="col">Date Joined</th>
        </tr>
        </thead>
        <tbody>
        {% cycle 'group-odd' 'group-even' as groupclass silent %}
        {% for user in user_list %}
            <tr class="{{ groupclass }}">
                <td>{{ user.index }}</td>
                <td><a class="href-link" href="{% url 'profile' user.username %}">{{ user.username }}</a></td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email|default:"&mdash;" }}</td>
                <td>{{ user.is_active }}</td>
                <td>{{ user.is_superuser }}</td>
                <td>{{ user.date_joined }}</td>
            </tr>
            {% cycle groupclass %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if previous %}
            <li class="page-item"><a class="page-link" href="{{ first_page }}">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href={{ previous }}>&lsaquo; Previous</a></li>
        {% endif %}
        {% if next %}
            <li class="page-item"><a class="page-link" href={{ next }}>Next &rsaquo;</a></li>
            <li class="page-item"><a class="page-link" href="{{ last_page }}">Last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
