{% extends "main/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'main/js/search.js' %}"></script>
    <script src="{% static 'users/js/reset.js' %}"></script>
    <script src="{% static 'users/js/form.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="search-container">
        <form action="{% url 'users-list' %}" method="get" accept-charset="UTF-8" id="user-search-form">
            <div id="search-filters">
                {% for field in user_search_form %}
                    <div>{{ field.label_tag }}{{ field }}</div>
                {% endfor %}
                <button id="search-btn" type="submit" class="btn btn-raised btn-rounded btn-success">Search</button>
                <button id="reset-btn" type="button" class="btn btn-mdb-color btn-rounded waves-effect waves-light">
                    Reset
                </button>
            </div>
        </form>
        <div id="search-results">
            {% if user_list %}
                {% include "users/user_list_table.html" %}
            {% elif user_search_form.is_bound %}
                <p>No results</p>
            {% endif %}
            {% if is_admin %}
                <button id="add-user-table-btn" type="submit" class="btn btn-indigo waves-effect waves-light"
                        onclick='overlay()'>
                    Add User
                </button>
            {% endif %}
        </div>
        <div id="user-overlay">
            <div id="user-form-content">
                <h3>Create new user</h3>
                <form method="post" accept-charset="UTF-8" id="user-form">
                    {% csrf_token %}
                    <div id="user-filters">
                        {% for field in user_form %}
                            <div class="user-filter">{{ field.label_tag }}{{ field }}</div>
                        {% endfor %}
                        <div class="switch">
                            <label>
                                <input id="admin-switch" type="checkbox">
                                Admin
                            </label>
                        </div>
                        <div id="user-form-buttons">
                            <button id="add-user-btn" type="submit"
                                    class="btn btn-primary btn-rounded waves-effect waves-light">
                                Add User
                            </button>
                            <button id="user-cancel-btn" type="button" onclick='overlay()'
                                    class="btn btn-info btn-rounded waves-effect waves-light">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
                <div id="error" class="alert alert-danger" role="alert"
                     style="display: none"></div>
                <script type="text/javascript">
                    let save_btn = document.getElementById("add-user-btn")
                    save_btn.addEventListener("click", function () {
                        let username = document.getElementById("id_username").value;
                        let first_name = document.getElementById("id_first_name").value;
                        let last_name = document.getElementById("id_last_name").value;
                        let email = document.getElementById("id_email").value;
                        let password = document.getElementById("id_password").value;
                        let confirm_password = document.getElementById("id_confirm_password").value;
                        let role = document.getElementById("admin-switch").checked;
                        let data = {
                            "access_token": "{{ access_token|safe }}",
                            "new_username": username,
                            "first_name": first_name,
                            "last_name": last_name,
                            "email": email,
                            "password": password,
                            "confirm_password": confirm_password,
                            "role": role,
                            "register": true
                        }
                        let url = "/api/users/"
                        $.post(url, data).done(function () {
                            location.href = "/ui/users"
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            console.log("Status: " + textStatus + " error: " + errorThrown);
                            document.getElementById('error').style.display = "block";
                            document.getElementById('error').innerHTML = "Status: " + textStatus + " error: "
                                + errorThrown;
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}