
.pulse-details {
    float: left;
    /*margin-top: 100px;*/
    margin-left: 5px;
    width: 40%;
}

.pulse-summary {
    float: right;
    margin-top: 20px;
    width: 100%;
}

.pulse-plots {
    float: left;
    margin-top: 20px;
}

.pulse-details dl {
    flex-wrap: wrap;
}

.pulse-details dl dt {
    font-weight: bold;
}

.pulse-details dl dt,
.pulse-details dl dd {
    flex: 1 1 45%;
    display: inline;
    margin: 0 0.5em 0.2em 0;
}

.pulse-details dl dt:after {
    content: ":";
}

/* pulse tabs */
.tab-panel-pulse {
    /*width: 75%;*/
    width: auto;
    height: auto;
    margin: 0 auto;
}

ul.tabs-pulse {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    float: left;
    /*position: absolute;*/
    /*top: 207px;*/
    /*right: 700px;*/
}

ul.tabs-pulse li {
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    border-right: 1px solid #E2F3FB;
    border-top: 2px solid #E2F3FB;
    cursor: pointer;
    background: #FAFBFB;
}

ul.tabs-pulse li:last-child {
    border-right: 2px solid #E2F3FB;
}

ul.tabs-pulse li:first-child {
    border-left: 2px solid #E2F3FB;
}

ul.tabs-pulse li.current-pulse {
    background: #10A3FF;
    color: #fff;
    font-weight: 600;
}

.tab-content-pulse {
    display: none;
    padding: 15px 5px;
    height: auto !important;
}

.tab-content-pulse.current-pulse {
    display: inherit;
}

#PID {
    height: 700px;
    /*float: left;*/
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
}

.pid-box {
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 0 20px;
    height: 500px;
    width: 60%;
    margin-top: 40px;
    overflow: auto;
}

#Pulse-Overview {
    /*height: 700px;*/
    width: 100%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.pid-box > h3 {
    margin-top: 15px;
}

#plot-btn {
    margin-top: 10px;
    color: white;
}

#plot-form-container {
    float: left;
    margin-top: 20px;
}

#plot-overlay {
    float: left;
    margin-left: 300px;
}

.hidden-plot {
    visibility: hidden;
}

.visible-plot {
    visibility: visible;
}

#filter-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-btn {
    margin-top: 20px;
    margin-right: 5px;
    background-color: #4caf50 !important;
    color: white;
}

#reset-btn {
    margin-top: 20px;
}

.download-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

#plot-table-container {
    margin-top: 100px;
}

#no-refresh {
    display: none;
    width: 40%;
    margin-left: 30%;
    text-align: center;
}

#single-download {
    margin: 0 !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
}

#download-detail-btn {
    float: right;
}