/*Login*/
.login-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.login-field > .form-control {
    width: 30%;
    margin-left: 35%;
}

#login-btn {
    margin-left: 515px;
    margin-top: 20px;
}

#login-error {
    width: 30%;
    margin-left: 35%;
    text-align: center;
}