.profile-main {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid #aed5e2;
    padding-bottom: 10px;
}

.profile-header {
    height: 200px;
    width: 100%;
    /*background-color: #EBF6FA;*/
    background-color: lightsteelblue;
    border-bottom: 2px solid #E2F3FB;
}

.user-detail {
    position: relative;
    width: 75%;
    margin: 0 auto;
    height: 100%;
}

.user-image {
    float: left;
    position: relative;
    width: 23%;
    height: 135px;
}

.user-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: 35px;
}

.prof-label {
    position: absolute;
    background: #8C13A0;
    color: #fff;
    padding: 9px 4px;
    border-radius: 50%;
    top: 155px;
    left: 42px;
    font-size: 12px;
}

.user-data {
    float: left;
    width: 46%;
    padding-left: 27px;
    margin-bottom: 20px;
}

.user-data h3 {
    margin-bottom: 0;
    margin-top: 35px;
    /*font-size: 20px;*/
    /*font-weight: 600;*/
}

.user-data .post-label {
    /*font-size: 10px;*/
    border: 1px solid #C3CECB;
    padding: 0 4px;
    border-radius: 4px;
    background: #F3F5F5;
    margin-right: 5px;
    margin-top: 5px;
}

.user-data .post-label:hover {
    background-color: #F8EDE7;
    border-color: #F2D4BA;
}

.user-data p {
    /*font-size: 12px;*/
    color: #404040;
}

/*tab*/
.tab-panel-main {
    width: 100%;
    margin: 0 auto;
}

ul.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    float: left;
    /*position: absolute;*/
    /*top: 207px;*/
    /*right: 700px;*/
}

ul.tabs li {
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    border-right: 1px solid #E2F3FB;
    border-top: 2px solid #E2F3FB;
    cursor: pointer;
    background: #FAFBFB;
}

ul.tabs li:last-child {
    border-right: 2px solid #E2F3FB;
}

ul.tabs li:first-child {
    border-left: 2px solid #E2F3FB;
}

ul.tabs li.current {
    background: #10A3FF;
    color: #fff;
    font-weight: 600;
}

.tab-content {
    display: none;
    padding: 15px 5px;
}

.tab-content.current {
    display: inherit;
}

.bio-box {
    float: right;
    /*width: 35%;*/
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 13px;
    margin-top: 20px;
}

.detail-box {
    float: left;
    /*width: 50%;*/
    border: 1px solid #ededed;
    padding: 13px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
    font-size: 13px;
}

.bio-box .heading {
    padding: 10px 0 10px 10px;
}

.bio-box .heading p {
    margin: 0;
    font-weight: 600;
    font-size: 13px;
}

.bio-box .heading label {
    float: right;
    font-size: 9px;
    font-weight: normal;
    border: 1px solid #ededed;
    border-right: none;
    padding: 2px 1px 2px 5px;
}

.bio-box .desc {
    padding: 10px 10px 10px 10px;
    text-align: justify;
    color: #838383;
    font-size: 13px;
}

.detail-box p {
    /*font-weight: 600;*/
    margin: 0;
}

.detail-box .ul-first {
    padding: 0;
    list-style: none;
    float: left;
}

.detail-box .ul-second {
    float: left;
    list-style: none;
    color: #767676;
}

#Portfolio {
    height: 210px;
    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    margin-left: 20px;
}

.portfolio-img-box {
    width: 100%;
    height: 300px;
    float: left;
    margin-right: 25px;
    border-radius: 3px;
    overflow: auto !important;
}

.portfolio-img-box:last-child {
    margin-right: 0;
}

#Basic-detail {
    width: 90%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 5%;
    float: left;
}

#edit-profile-btn {
    margin-top: 15px;
}

.user-details {
    width: 100% !important;
}