#add-user-table-btn {
    float: right;
    /* TODO remove display none */
    display: none;
}

#add-user-btn {
    color: whitesmoke;
}

#user-cancel-btn {
    background-color: lightslategrey !important;
    color: white;
}

#user-overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

#user-overlay #user-form-content {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
}

#user-overlay #user-form-content h3 {
    margin-bottom: 50px;
}

#user-form-buttons {
    margin-top: 20px;
}

.user-filter {
    width: 70%;
    margin-left: 15%;
}

#user-filters > .bmd-form-group > .switch {
    width: 70%;
    margin-left: 15%;
}