{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Dashboard{% block page_title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'main/images/favicon.ico' %}" type="image/png"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/jet.css' %}"/>
    {{ script | safe }}
    {% block extra_styles %}{% endblock %}
    {% block initial_scripts %}{% endblock %}
</head>
<body>

{% block header %}
    <div id="menu" title="Image originally in commons.wikimedia.org">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="{% url 'login' %}">Demo Dashboard</a>
        </nav>
    </div>
{% endblock %}

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>Version {{ DASHBOARD_VERSION }}</p>
</footer>

{% block scripts %}{% endblock %}
</body>
</html>
