{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Dashboard{% block page_title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'main/images/favicon.ico' %}" type="image/png"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/jet.css' %}"/>
    <script src="{% static 'main/js/jquery.js' %}"></script>
    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
            integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{% static 'bokeh/js/bokeh-2.1.1.min.js' %}"></script>
    <script src="{% static 'bokeh/js/bokeh-widgets-2.1.1.min.js' %}"></script>
    <script src="{% static 'bokeh/js/bokeh-tables-2.1.1.min.js' %}"></script>
    <script src="{% static 'bokeh/js/bokeh-api-2.1.1.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap-material-design.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();
        });
    </script>
    {{ script | safe }}
    {% block extra_styles %}{% endblock %}
    {% block initial_scripts %}{% endblock %}
</head>
<body>

{% block header %}
    <div id="menu">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="{% url 'pulses-list' %}">Demo</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pulses-list' %}">Pulses
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'machines-list' %}">Machines
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pids-list' %}">PIDs
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users-list' %}">Users
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'experiments-list' %}"> Experiments
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <ul id="profile-menu" class="navbar-nav mr-auto">
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{{ username }}</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'profile' username %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
    </div>
{% endblock %}

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>Version {{ DASHBOARD_VERSION }}</p>
</footer>

{% block scripts %}{% endblock %}
</body>
</html>
