<!-- HTML for static distribution bundle build -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href={% static "swagger/swagger-ui.css" %}>
    <link rel="icon" type="image/png" sizes="32x32" href={% static "swagger/favicon-32x32.png" %}/>
    <link rel="icon" type="image/png" sizes="16x16" href={% static "swagger/favicon-16x16.png" %}/>
    <style>
        html {
            box-sizing: border-box;
            overflow: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            margin: 0;
            background: #fafafa;
        }
    </style>
</head>

<body>
<div id="swagger-ui"></div>

<script src={% static "swagger/swagger-ui-bundle.js" %}></script>
<script src={% static "swagger/swagger-ui-standalone-preset.js" %}></script>
<script>
    window.onload = function () {
        // Begin Swagger UI call region
        const ui = SwaggerUIBundle({
            url: {% static "swagger/schema.yml" %},
            dom_id: '#swagger-ui',
            deepLinking: true,
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset
            ],
            plugins: [
                SwaggerUIBundle.plugins.DownloadUrl
            ],
            layout: "StandaloneLayout"
        });
        // End Swagger UI call region

        window.ui = ui
    }
</script>
</body>
</html>
