#add-pid-table-btn {
    float: right;
}

#add-pid-btn {
    color: whitesmoke;
}

#pid-cancel-btn {
    background-color: lightslategrey !important;
    color: white;
}

#pid-overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

#pid-overlay #pid-form-content {
    width: 400px;
    margin: 100px auto;
    margin-left: 40%;
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
}

#pid-overlay #pid-form-content h3 {
    margin-bottom: 50px;
    margin-top: 20px;
}

#pid-form-buttons {
    margin-top: 20px;
}

.pid-details {
    width: 100% !important;
}

.pid-filter {
    width: 70%;
    margin-left: 15%;
}