#add-machine-table-btn {
    float: right;
}

#add-machine-btn {
    color: whitesmoke;
}

#machine-cancel-btn {
    background-color: lightslategrey !important;
    color: white;
}

#machine-overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

#machine-overlay #machine-form-content {
    width: 400px;
    height: 400px;
    margin-top: 10%;
    margin-left: 40%;
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
}

#machine-overlay #machine-form-content h3 {
    margin-bottom: 50px;
    margin-top: 10px;
}

#machine-form-buttons {
    margin-top: 20px;
}

.machine-filter {
    width: 70%;
    margin-left: 15%;
}