{% extends "main/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'main/js/search.js' %}"></script>
    <script src="{% static 'machines/js/reset.js' %}"></script>
    <script src="{% static 'machines/js/form.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="search-container">
        <form action="{% url 'machines-list' %}" method="get" accept-charset="UTF-8" id="machine-search-form">
            <div id="search-filters">
                {% for field in machine_search_form %}
                    <div>{{ field.label_tag }}{{ field }}</div>
                {% endfor %}
                <button id="search-btn" type="submit" class="btn btn-raised btn-rounded btn-success">Search</button>
                <button id="reset-btn" type="button" class="btn btn-mdb-color btn-rounded waves-effect waves-light">
                    Reset
                </button>
            </div>
        </form>
        <div id="search-results">
            {% if machine_list %}
                {% include "machines/machine_list_table.html" %}
            {% elif machine_search_form.is_bound %}
                <p>No results</p>
            {% endif %}
            {% if is_admin %}
                <button id="add-machine-table-btn" type="submit" class="btn btn-indigo waves-effect waves-light"
                        onclick='overlay()'>
                    Add Machine
                </button>
            {% endif %}
        </div>
        <div id="machine-overlay">
            <div id="machine-form-content">
                <h3>Create new machine</h3>
                <form method="post" accept-charset="UTF-8" id="machine-form">
                    {% csrf_token %}
                    <div id="machine-filters">
                        {% for field in machine_form %}
                            <div class="machine-filter">{{ field.label_tag }}{{ field }}</div>
                        {% endfor %}
                        <div id="machine-form-buttons">
                            <button id="add-machine-btn" type="submit"
                                    class="btn btn-primary btn-rounded waves-effect waves-light">
                                Create
                            </button>
                            <button id="machine-cancel-btn" type="button" onclick='overlay()'
                                    class="btn btn-info btn-rounded waves-effect waves-light">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
                <script type="text/javascript">
                    let save_btn = document.getElementById("add-machine-btn")
                    save_btn.addEventListener("click", function () {
                        let short_name = document.getElementById("id_machine_name").value;
                        let machine_url = document.getElementById("id_url").value;
                        let data = {
                            "access_token": "{{ access_token|safe }}",
                            "short_name": short_name,
                            "url": machine_url
                        }
                        let url = "/api/experiments/"
                        $.post(url, data, function () {
                            location.href = "/ui/machines"
                        }).fail(function (response) {
                            console.log(response.text);
                            alert("error: " + response.text);
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}