{% extends "main/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'main/js/search.js' %}"></script>
    <script src="{% static 'experiments/js/reset.js' %}"></script>
    <script src="{% static 'experiments/js/form.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="search-container">
        <div id="search-results">
            {% if query_shots %}
                {% include "experiments/experiments_queries_list_table.html" %}
            {% elif experiments_search_form.is_bound %}
                <p>No results</p>
            {% endif %}
        </div>
    </div>
{% endblock %}