{% if object_list %}
    <table class="table">
        <thead class="black white-text">
        <tr>
            <th class="pulse-head-table" scope="col"></th>
            <th class="pulse-head-table" scope="col">Shot</th>
            <th class="pulse-head-table" scope="col">Run</th>
            <th class="pulse-head-table" scope="col">Machine</th>
            <th class="pulse-head-table" scope="col">Owner</th>
            <th class="pulse-head-table" scope="col">Timestamp</th>
            <th class="pulse-head-table" scope="col">Annotations</th>
            <th class="pulse-head-table" scope="col">Download</th>
        </tr>
        </thead>
        <tbody>
        {% cycle 'group-odd' 'group-even' as groupclass silent %}
        {% for pulse in object_list %}
            <tr class="expandable-row {{ groupclass }}">
                <td></td>
                <td><a class="href-link" href="{% url 'pulse-details' pulse.id %}">{{ pulse.shot }}</a></td>
                <td><a class="href-link" href="{% url 'pulse-details' pulse.id %}">{{ pulse.number }}</a></td>
                <td>{{ pulse.experiment.short_name|default:"&mdash;" }}</td>
                <td>
                    <a class="href-link"
                       href="{% url 'profile' pulse.owner.username %}">{{ pulse.owner.username|default:"&mdash;"|safe }}
                    </a>
                </td>
                <td>{{ pulse.s_idsProperties_creationDate|default:"&mdash;"|safe }}</td>
                <td>{{ pulse.cannots|default:"&mdash;"|safe }}</td>
                <td id="single-download">
                    <button class="btn" onclick="single_download({{ pulse.shot }})"><i
                            class="fa fa-download"></i>
                    </button>
                </td>
                <script type="text/javascript">
                    function single_download(shot_number) {
                        let url = "/api/pulses-full/download?shot_number=" + shot_number + "&access_token=" +
                            "{{ access_token|safe }}";
                        $.get(url).done(function (data) {
                            console.log(data);
                            data = JSON.stringify(data, null, 2);
                            download(data, 'pulse_' + shot_number + '.json', 'text/plain');
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            console.log("Error message: " + jqXHR.responseText);
                            document.getElementById('error').style.display = "block";
                            document.getElementById('error').innerHTML = "Error: " + jqXHR.responseText;
                        });
                    }
                </script>
            </tr>
            <tr class="pulse-detail-row {{ groupclass }}">
                <td colspan="8">
                    {% for annotation in pulse.cannots_list %}
                        <p>{{ annotation|default:"&mdash;"|safe }}</p>
                    {% endfor %}
                </td>
            </tr>
            {% cycle groupclass %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if previous %}
            <li class="page-item"><a class="page-link" href="{{ first_page }}">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href={{ previous }}>&lsaquo; Previous</a></li>
        {% endif %}
        {% if next %}
            <li class="page-item"><a class="page-link" href={{ next }}>Next &rsaquo;</a></li>
            <li class="page-item"><a class="page-link" href="{{ last_page }}">Last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
