{% extends "main/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'main/js/search.js' %}"></script>
    <script src="{% static 'pulses/js/reset.js' %}"></script>
    <script src="{% static 'pulses/js/url_params.js' %}"></script>
    <script src="{% static 'pulses/js/download.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="search-container">
        <form action="{% url 'pulses-list' %}" method="get" accept-charset="UTF-8" id="filter-form">
            <div id="search-filters">
                {% for field in filter_form %}
                    <div>{{ field.label_tag }}{{ field }}</div>
                {% endfor %}
                <div id="filter-btns">
                    <button id="search-btn" type="submit" class="btn btn-raised btn-rounded btn-success">Search</button>
                    <button id="reset-btn" type="button" class="btn btn-mdb-color btn-rounded waves-effect waves-light">
                        Reset
                    </button>
                </div>
                <div class="download-data">
                    <button id="download-btn" type="button" class="btn btn-indigo waves-effect waves-light">
                        Download
                    </button>
                </div>
                <div id="error" class="alert alert-danger" role="alert" style="display: none"></div>
                <script type="text/javascript">
                    let download_btn = document.getElementById("download-btn")
                    download_btn.addEventListener("click", function () {
                        let search_txt = document.getElementById("id_search_for").value;
                        let start_date = document.getElementById("id_start_date").value;
                        let end_date = document.getElementById("id_end_date").value;
                        let machine = document.getElementById("id_machine").value;
                        let owner = document.getElementById("id_owner").value;
                        let pid = getUrlParameter("pid_id");
                        let shot_number = getUrlParameter("shot_number");
                        let url = "/api/pulses-full/download?search-txt=" + search_txt + "&start_date=" + start_date +
                            "&end_date=" + end_date + "&machine=" + machine + "&owner=" + owner + "&pid_id=" + pid +
                            "&shot_number=" + shot_number + "&access_token=" + "{{ access_token|safe }}";
                        $.get(url).done(function (data) {
                            console.log(data);
                            data = JSON.stringify(data, null, 2);
                            download(data, 'pulses.json', 'text/plain');
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            console.log("Error message: " + jqXHR.responseText);
                            document.getElementById('error').style.display = "block";
                            document.getElementById('error').innerHTML = "Error: " + jqXHR.responseText;
                        });
                    });
                </script>
            </div>
        </form>
        <div id="search-results">
            {% if object_list %}
                <div class="search-top">
                    <form class="form-inline" action="{% url 'pulses-list' %}" method="get" accept-charset="UTF-8">
                        <div class="my-0">
                            <input id="top-search" name="shot_number" class="form-control mr-sm-2" type="number"
                                   step="1" placeholder="Shot Number" aria-label="Search">
                            <button id="search-top-btn" type="submit"
                                    class="btn btn-primary btn-rounded waves-effect waves-light">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
                {% include "pulses/pulse_list_table.html" %}
            {% elif filter_form.is_bound %}
                <p>No results</p>
            {% endif %}
        </div>
    </div>
{% endblock %}