{% extends "main/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'main/js/search.js' %}"></script>
    <script src="{% static 'pulses/js/tabs.js' %}"></script>
    <script src="{% static 'pulses/js/plots.js' %}"></script>
    <script src="{% static 'pulses/js/analytics.js' %}"></script>
    <script src="{% static 'pulses/js/download.js' %}"></script>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb blue-grey lighten-4">
            <li class="breadcrumb-item"><a class="black-text" href="{% url 'pulses-list' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Pulse Shot {{ pulse.shot }} - Number {{ pulse.number }}</li>
        </ol>
    </nav>
    <button id="download-detail-btn" type="button" onclick="single_download_details({{ pulse.shot }})"
            class="btn btn-indigo waves-effect waves-light fa fa-download">
        Download
    </button>
    <script type="text/javascript">
                    function single_download_details(shot_number) {
                        let url = "/api/pulses-full/download?shot_number=" + shot_number + "&access_token=" +
                            "{{ access_token|safe }}";
                        $.get(url).done(function (data) {
                            console.log(data);
                            data = JSON.stringify(data, null, 2);
                            download(data, 'pulse_' + shot_number + '.json', 'text/plain');
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            console.log("Error message: " + jqXHR.responseText);
                            document.getElementById('error').style.display = "block";
                            document.getElementById('error').innerHTML = "Error: " + jqXHR.responseText;
                        });
                    }
                </script>
    <div class="tab-panel-pulse">
        <ul class="md-tabs tabs-pulse">
            <li id="overview-tab" class="tab-link-pulse current-pulse" data-tab="Pulse-Overview">Pulse Overview</li>
            <li id="most-simillar-tab" class="tab-link-pulse current-pulse" data-tab="Most-Simillar-Pulses"> Results </li>
            <li id="annotations-tab" class="tab-link-pulse" data-tab="Annotations-detail">Annotations</li>
            <li id="pid-tab" class="tab-link-pulse" data-tab="PID">PID Details</li>
            <li id="plot-detail" class="tab-link-pulse" data-tab="Plot-Detail">Plots</li>
        </ul>
        <div id="Pulse-Overview" class="tab-content-pulse current-pulse">
            <div class="pulse-details">
                <h2>Pulse Details</h2>
                <br>
                <dl>
                    <dt>Pulse Shot</dt>
                    <dd>{{ pulse.shot }}</dd>
                    <dt>Pulse Run</dt>
                    <dd>{{ pulse.number|safe }}</dd>
                    <dt>Machine</dt>
                    <dd>{{ pulse.experiment.short_name }}</dd>
                    <dt>Owner</dt>
                    <dd>{{ pulse.owner.username }}</dd>
                    <dt>Timestamp</dt>
                    <dd>{{ pulse.s_idsProperties_creationDate }}</dd>
                </dl>
            </div>
            <div class="pulse-summary">
                <h2>Summary</h2>
                <table class="table">
                    <thead class="black white-text">
                    <tr>
                        <th class="pulse-head-table" scope="col">B0 Source</th>
                        <th class="pulse-head-table" scope="col">Ip Source</th>
                        <th class="pulse-head-table" scope="col">nE Source</th>
                        <th class="pulse-head-table" scope="col">PowerNbi_source</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>{{ pulse.s_globalQuantities_b0_source|default:"&mdash;" }}</td>
                        <td>{{ pulse.s_globalQuantities_ip_source|default_if_none:"&mdash;" }}</td>
                        <td>{{ pulse.s_volumeAverage_nE_source|default_if_none:"&mdash;" }}</td>
                        <td>{{ pulse.s_heatingCurrentDrive_powerNbi_source|default_if_none:"&mdash;" }}</td>
                    </tr>
                </table>
            </div>
            <div class="pulse-plots">
                <h2>Overview plots</h2>
                <div id="plot-form-container">
                    <div id="plot-fields">
                        <!-- Multiselect dropdown -->
                        <label for="selector">Which variables do you want to plot?</label>
                        <select id="selector" class="custom-select browser-default" multiple="">
                            {% for field in variables %}
                                <option>{{ field }}</option>
                            {% endfor %}
                        </select><!-- End -->
                        <button id="plot-btn" type="submit" class="btn btn-unique waves-effect waves-light"
                                onclick="showDiv()">Plot!
                        </button>
                    </div>
                </div>
                <div id="plot-overlay" style="display: none">
                    {% if plot_images %}
                        <table>
                            <tr id="plot-table">
                                {% for img_name in plot_images %}
                                    <td id="{{ img_name.title }}">
                                        {{ img_name.div | safe }}
                                        <script type="text/javascript"
                                                src="{% static 'bokeh/js/bokeh-2.1.1.min.js' %}"></script>
                                        {{ img_name.script | safe }}
                                    </td>
                                    <td style="background-color: #f8f9fa; border: none"></td>
                                {% endfor %}
                            </tr>
                        </table>
                    {% else %}
                        <p>No plots available</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="Most-Simillar-Pulses" class="tab-content-pulse"> 
            <div class="pulse-simillar">
                <div class="hidden_id" id="hidden_id" name = "hidden_id" style="display: none;">{{ sim_work_id }}</div>
                <div id="most-sim">  </div>
                <br>
                <br>
                <table class="table" id="most_sim_table">
                    <thead class="black white-text">
                        <tr> 
                            <th class="pulse-head-table scope=col">Shot Number</th> 
                        </tr>
                    </thead>
                    {% for shot in similar %}
                    <tr>
                        <td> 
                            <a href="http://ui-test.fair4fusion.iit.demokritos.gr/ui/pulses/?shot_number={{shot}}"> {{shot}} </a>
                        </td> 
                    </tr>
                    {% endfor %}
                </table> 
                <div class="pulse-plots">
                    <h2>Overview plots</h2>
                    <div id="multi-plot-form-container">
                        <div id="multi-plot-fields">
                            <button id="plot-btn" type="submit" class="btn btn-unique waves-effect waves-light"
                                    onclick="showDivMultiple()">Show Pulses!
                            </button>
                        </div>
                    </div>
                    <div id="multi-plot-overlay" style="display: none">
                        {% if plot_images %}
                            <table>
                                <tr id="plot-table">
                                    {% for img_name in multi_plots %}
                                        {% if img_name.title == comparisonType %}
                                            <td id="{{ img_name.title }}" style="visibility: visible; display: block;">
                                                {{ img_name.div | safe }}
                                                <script type="text/javascript"
                                                        src="{% static 'bokeh/js/bokeh-2.1.1.min.js' %}"></script>
                                                {{ img_name.script | safe }}
                                            </td>
                                            <td style="background-color: #f8f9fa; border: none"></td>
                                        {% endif %}    
                                    {% endfor %}
                                </tr>
                            </table>
                        {% else %}
                            <p>No plots available</p>
                        {% endif %}
                    </div>
                </div>          
            </div>
        </div>

        <div id="Annotations-detail" class="tab-content-pulse">
            <div class="annotation-header"><h5 class="annotation-txt"><i>User annotations</i></h5></div>
            <div id="msg-containers" class="message-containers">
                {% if pulse.cannots %}
                    {% for date, annotations in pulse.cannots.items %}
                        <div id="annot-date">
                            <p style="text-align: center; font-weight: bold"> @{{ date|default:"&mdash;"|safe }}:</p>
                        </div>
                        <ul>
                            {% for annotation in annotations %}
                                {% if annotation.color == "white" %}
                                    <div class="annotation-container">
                                {% else %}
                                    <div class="annotation-container darker">
                                {% endif %}
                            <div id="ann-header">
                                <div id="ann-user">
                                    <div id="ann-img-user">
                                        <img src="{% static 'main/images/user-img.jpg' %}"
                                             alt="Avatar" height="20px" width="20px">
                                    </div>
                                    <div id="ann-username">
                                        <p><b>{{ annotation.user }}</b></p>
                                    </div>
                                </div>
                                <div id="ann-time" class="time-right">{{ annotation.time }}</div>
                            </div>
                            <div id="annotation-msg">
                                {{ annotation.text }}
                            </div>
                            </div>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="annotation-new">
                <form method="post" accept-charset="UTF-8" id="annotation-form">
                    {% csrf_token %}
                    <div id="annotation-fields">
                        {% for field in annotation_form %}
                            <div class="annotation-field">{{ field.label_tag }}{{ field }}</div>
                        {% endfor %}
                        <div class="annotation-btn-div">
                            <button id="annotation-btn" type="submit" class="btn btn-indigo waves-effect waves-light">
                                Add Comment
                            </button>
                        </div>
                        <script>
                            document.getElementById("annotation-btn").addEventListener("click", function () {
                                let description = document.getElementById("id_description").value;
                                let pk = "{{pk|safe}}";
                                let user = "{{username|safe}}";
                                let url = "/api/annotations/"
                                let data = {
                                    "access_token": "{{ access_token|safe }}",
                                    "description": description,
                                    "username": user,
                                    "pk": pk
                                }
                                $.post(url, data).done(function () {
                                    localStorage.setItem("annotations_updated", "true");
                                    location.href = "/ui/" + pk + "/overview"
                                }).fail(function (jqXHR, textStatus, errorThrown) {
                                    console.log("Status: " + textStatus + " error: " + errorThrown);
                                });
                            });

                        </script>
                    </div>
                </form>
                <br>
            </div>
        </div>
        <div id="PID" class="tab-content-pulse">
            <div class="container">
                <div id="pid-container" class="pid-box">
                    <h3><i class="fa fa-bookmark"></i> PID Details</h3>
                    <br>
                    {% if pids %}
                        <div class="pulse-details pid-details">
                            {% for pid in pids %}
                                <div class="card">
                                    <div class="card-header">
                                        PID: {{ pid.pid_number }}
                                    </div>
                                    <div class="card-body">
                                        <dl>
                                            <dt class="card-text">Issuer</dt>
                                            <dd class="card-text">{{ pid.issuer }}</dd>
                                            <dt class="card-text">Page URL</dt>
                                            <dd class="card-text"><a
                                                    href="{{ pid.page_url }}">{{ pid.page_url }}</a></dd>
                                            <dt class="card-text">Other Pulses</dt>
                                            <dd class="card-text"><a
                                                    href="{% url 'pulses-list' %}?pid_id={{ pid.pid_number }}">Pulses
                                                for {{ pid.pid_number }}</a>
                                            </dd>
                                        </dl>
                                        <h6 class="card-title">Description</h6>
                                        <p class="card-text">{{ pid.description }}</p>
                                        <p></p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {% if is_admin %}
                    <div class="search-top" style="float: right">
                        <form class="form-inline" action="{% url 'pulse-details' pk %}" method="get"
                              accept-charset="UTF-8">
                            <div class="my-0">
                                <input id="add-pulse-pid" name="pid_number" class="form-control mr-sm-2"
                                       type="text" placeholder="PID Number" aria-label="PID">
                                <button id="search-top-btn" type="submit"
                                        class="btn btn-primary btn-rounded waves-effect waves-light">
                                    Add PID
                                </button>
                            </div>
                        </form>
                        <script type="text/javascript">
                            let save_pid_association_btn = document.getElementById("search-top-btn")
                            save_pid_association_btn.addEventListener("click", function () {
                                let pid_number = document.getElementById("add-pulse-pid").value;
                                let pk = "{{pk|safe}}";
                                let user = "{{username|safe}}";
                                let url = "/api/pulses-full/add_pid/"
                                let data = {
                                    "access_token": "{{ access_token|safe }}",
                                    "pid_number": pid_number,
                                    "username": user,
                                    "pulse_id": pk
                                }
                                $.post(url, data).done(function () {
                                    localStorage.setItem("pids_updated", "true");
                                    location.href = "/ui/" + pk + "/overview"
                                }).fail(function (jqXHR, textStatus, errorThrown) {
                                    console.log("Status: " + textStatus + " error: " + errorThrown);
                                });
                            });
                        </script>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="Plot-Detail" class="tab-content-pulse">
            <div id="plot-table-container" class="container">
                {% if plot_images_table %}
                    <table class="table">
                        <thead class="black white-text">
                        <tr>
                            <th class="pulse-head-table" scope="col">Variable</th>
                            <th class="pulse-head-table" scope="col">Total number</th>
                            <th class="pulse-head-table" scope="col">MinMax</th>
                            <th class="pulse-head-table" scope="col">Mean</th>
                            <th class="pulse-head-table" scope="col">Variance</th>
                            <th class="pulse-head-table" scope="col">Skewness</th>
                            <th class="pulse-head-table" scope="col">Kurtosis</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% cycle 'group-odd' 'group-even' as groupclass silent %}
                        {% for img_name in plot_images_table %}
                            <tr id="{{ img_name.title }}_table" class="expandable-row {{ groupclass }}">
                                <td>{{ img_name.title }}</td>
                                <td id="{{ img_name.title }}_nobs"></td>
                                <td id="{{ img_name.title }}_minmax"></td>
                                <td id="{{ img_name.title }}_mean"></td>
                                <td id="{{ img_name.title }}_variance"></td>
                                <td id="{{ img_name.title }}_skewness"></td>
                                <td id="{{ img_name.title }}_kurtosis"></td>
                            </tr>
                            <tr id="{{ img_name.title }}_expandable" class="pulse-detail-row {{ groupclass }}">
                                <td colspan="8">
                                    {{ img_name.div | safe }}
                                    <script type="text/javascript"
                                            src="{% static 'bokeh/js/bokeh-2.1.1.min.js' %}"></script>
                                    {{ img_name.script | safe }}
                                </td>
                            </tr>
                            {% cycle groupclass %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            let access_token = "{{ access_token|safe }}";
                            let shot = "{{ pulse.shot|safe }}";
                            let kind_retrieve = "{{ kind_retrieve|safe }}";
                            if (kind_retrieve === "job") {
                                let out_dir = "{{ out_dir|safe }}";
                                let run_dir = "{{ run_dir|safe }}";
                                let filename = "{{ filename|safe }}";
                                get_file_content(shot, access_token, run_dir, out_dir, filename);
                            } else {
                                let analytics = {{ analytics|safe }};
                                console.log(analytics);
                                fill_analytics(analytics);
                            }
                        });
                    </script>
                {% else %}
                    <p>No analytics/plots available</p>
                {% endif %}
            </div>
            <div class="row">
                <div id="no-refresh" class="alert alert-info" role="alert"></div>
            </div>
        </div>
    </div>


{% endblock %}

